# Dictionary

- Mutable mapping of unique keys to values
- Dictionaries are ordered by insertion order and not alphabetical order.
- No duplicate keys
- Keys must be hashable. Values can be any objects
- Keys can be heterogeneous hashable types

## Optimized for
- By key value lookups
- By key insertions and updates
- Key membership check. (in operator)

## Not Optimized for 
- By value lookups
- insert operations by value

## Support operations liks
- key, value retrievals using items()
- keys using keys()
- values using values()

### Keys are immutable and must be HASHABLE. Could be heterogeneous types

Hashable types:
- Integer
- Float
- String
- Tuple
- Boolean

Non Hashable Types:
- List
- Sets
- Dictionary

In [2]:
a = {1: 'Hello'}
a

{1: 'Hello'}

In [4]:
b = {'1': 1}
b

{'1': 1}

In [5]:
c = {1.2 : 'x'}
c

{1.2: 'x'}

In [6]:
d = {[1,2] : 'List'}

TypeError: unhashable type: 'list'

In [9]:
e = {(1,2) : 'Tuple'}
e

{(1, 2): 'Tuple'}

In [10]:
f = {{1,2} : 'Set'}
f

TypeError: unhashable type: 'set'

In [13]:
g = {'Hello World':{'1','2'}}
g

{'Hello World': {'1', '2'}}

In [16]:
h = {True : 1}
h

{True: 1}

### Keys are Unique - In case of non unique keys, only the latest value will be considered.

In [18]:
a = {1: 'Tushar', 1: 'Dahibhate'}
a

{1: 'Dahibhate'}

In [19]:
b = {1: 'Tushar', 2: 'Dahibhate'}
b

{1: 'Tushar', 2: 'Dahibhate'}

### Keys can be of heterogeneous type

In [20]:
a = {1:'Tushar', '2': 'Dahibhate'}
a

{1: 'Tushar', '2': 'Dahibhate'}

## CREATION

### Empty

In [ ]:
a = dict()
a

In [22]:
b = {}
b

{}

### variable = value

In [23]:
c = {1:"Hello"}
d = c
d

{1: 'Hello'}

In [30]:
e = dict(x=1,y=3)
e

{'x': 1, 'y': 3}

### Key- Value

In [32]:
f = {1:"Hello"}
f

{1: 'Hello'}

### Via Tuple

In [33]:
l = [(1,'Tushar'),(2,'Dahibhate')] 
g = dict(l)
g

{1: 'Tushar', 2: 'Dahibhate'}

In [36]:
h = {(1,'Tushar'),(2,'Dahibhate')}
h

{(1, 'Tushar'), (2, 'Dahibhate')}

## ACCESS, RETRIEVAL, UPDATION

In [39]:
a = {}
key = 'name'
a[key] = 'Tushar'
a[key]

'Tushar'

### Retrieval methods

In [47]:
a = {1:'T', 2:'U',3:'S',4:'H',5:'A',6:'R'}
a

{1: 'T', 2: 'U', 3: 'S', 4: 'H', 5: 'A', 6: 'R'}

In [41]:
a.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [42]:
a.values()

dict_values(['T', 'U', 'S', 'H', 'A', 'R'])

In [43]:
a.get(1,'Return Default value')

'T'

In [44]:
a.get(7,'Return Default value')

'Return Default value'

In [48]:
a.setdefault(6,'Set This default value if key is not present')

'R'

In [49]:
a.setdefault(7,'Set This default value if key is not present')

'Set This default value if key is not present'

In [50]:
a

{1: 'T',
 2: 'U',
 3: 'S',
 4: 'H',
 5: 'A',
 6: 'R',
 7: 'Set This default value if key is not present'}

In [52]:
8 in a

False

# QUERYING BY KEY: MEMBERSHIP CHECK

In [53]:
1 in a

True

In [54]:
9 in a

False

## ITERATING OVER ITEMS

In [55]:
a = {1:'T', 2:'U',3:'S',4:'H',5:'A',6:'R'}
a

{1: 'T', 2: 'U', 3: 'S', 4: 'H', 5: 'A', 6: 'R'}

In [57]:
for k,v in a.items():
    print('{}: {}'.format(k,v))

1: T
2: U
3: S
4: H
5: A
6: R

In [58]:
for k in a.keys():
    print('{}: {}'.format(k,a[k]))

1: T
2: U
3: S
4: H
5: A
6: R

In [59]:
for v in a.values():
    print('{}'.format(v))

T
U
S
H
A
R

## OTHER METHODS

In [84]:
a = {'name': 'Tushar', 'age' :24}
a

{'name': 'Tushar', 'age': 24}

In [77]:
b = a.copy()
b

{'name': 'Tushar', 'age': 24}

In [78]:
a.clear()
a

{}

In [80]:
del a['age']

In [81]:
a

{'name': 'Tushar'}

In [83]:
a.pop('name','default')

'Tushar'

In [85]:
a.pop('name1','default')

'default'

In [86]:
b = {1:'Hello'}

In [87]:
a.update(b)

In [88]:
a

{'name': 'Tushar', 'age': 24, 1: 'Hello'}

In [96]:
z = a.fromkeys([1,2,3],0)

In [97]:
z

{1: 0, 2: 0, 3: 0}