# List

List is an mutable sequence of heterogeneous objects.

In [1]:
a = ['a','a', 1,1,2,2,3,3]

In [2]:
a

['a', 'a', 1, 1, 2, 2, 3, 3]

## Mutability
Memory id of the list remains the same just the value of the item changed. Content can be changes by adding, deleting and removing items.

In [7]:
id(a)

140574487556744

In [8]:
a[0] = 1
a

[1, 'a', 1, 1, 2, 2, 3, 3]

In [9]:
id(a)

140574487556744

## Creation

In [14]:
l1 = list()

In [15]:
l1

[]

In [16]:
l2 = []

In [17]:
l2

[]

In [25]:
s = set()
s.add(1)
s.add(2)
s.add(3)
s

{1, 2, 3}

In [28]:
l3 = list(s)
l3

[1, 2, 3]

In [29]:
d = {1:'1', 2:'2', 3:'3'}
d

{1: '1', 2: '2', 3: '3'}

In [30]:
l4 = list(d)
l4

[1, 2, 3]

In [32]:
t = (1,2,3,4,5)
l5 = list(t)
l5

[1, 2, 3, 4, 5]

In [34]:
l6 = [t]
l6

[(1, 2, 3, 4, 5)]

In [38]:
s = "Tushar"

In [40]:
l7 = list(s)
l7

['T', 'u', 's', 'h', 'a', 'r']

## Operations

In [41]:
# in operator
x = ['Tushar']

'Tushar' in x

True

### Concatenation using + and extend

In [49]:
x1 = ['a', 'b']
x2 = ['c', 'd']

In [44]:
x3 = x1 + x2

In [45]:
x3

['a', 'b', 'c', 'd']

In [50]:
x1.extend(x2)

In [52]:
x1

['a', 'b', 'c', 'd']

### Repetition

In [55]:
x1 = ['a'] * 3

In [56]:
x1

['a', 'a', 'a']

### Insert and append

In [57]:
a = [1,2,3,4]

In [59]:
a.insert(4,5)

In [60]:
a

[1, 2, 3, 4, 5]

In [61]:
a.insert(1,99)

In [62]:
a

[1, 99, 2, 3, 4, 5]

In [63]:
a.insert(10,10)

In [64]:
a

[1, 99, 2, 3, 4, 5, 10]

In [65]:
b = [5,6,7,8,9]

In [66]:
b.append(1)

In [68]:
b.append([1,2])

In [69]:
b

[5, 6, 7, 8, 9, 1, [1, 2]]

In [70]:
b.append(1,2)

TypeError: append() takes exactly one argument (2 given)

### Memory allocation before inserts  and append

In [71]:
new_list1.append('z')

NameError: name 'new_list1' is not defined

In [72]:
new_list2.insert(0,1)

NameError: name 'new_list2' is not defined

### Remove operations - Remove, clear, pop

In [81]:
a = [1,2,3,4,5]

In [74]:
a.remove(1)

In [75]:
a

[2, 3, 4, 5]

In [79]:
a.clear()

In [80]:
a

[]

In [82]:
a.pop()

5

In [83]:
a

[1, 2, 3, 4]

In [84]:
a.pop(1)

2

In [85]:
a

[1, 3, 4]

## Memory referencing

In [102]:
a = [1,2,3,4,5]
id(a)

140574482502792

In [93]:
# 1 

b = a
id(b)

140574482454280

In [94]:
a = [6,7]
id(a)

140574482482184

In [91]:
str(a) + str(b)

'[6, 7][1, 2, 3, 4, 5]'

In [96]:
# 2

In [97]:
b = a

In [98]:
a.clear()

In [99]:
a = [1,2]

In [100]:
str(a) + str(b)

'[1, 2][]'

In [101]:
# 3

In [103]:
b = a

In [104]:
a = [6,7]

In [105]:
a.clear()

In [106]:
str(a) + str(b)

'[][1, 2, 3, 4, 5]'

### Ex. Updating List objects

In [128]:
nums = [1,6,3,12,6,17,8,25]

In [119]:
nums.append(5)
nums

[1, 6, 3, 12, 6, 17, 8, 25, 5]

In [121]:
nums.remove(6)
nums

[1, 3, 12, 6, 17, 8, 25]

In [123]:
nums.pop(6)

8

In [124]:
nums

[1, 6, 3, 12, 6, 17, 25]

In [126]:
del nums[4]

In [127]:
nums

[1, 6, 3, 12, 17, 8, 25]

In [129]:
nums.insert(1,4)

In [130]:
nums

[1, 4, 6, 3, 12, 6, 17, 8, 25]

## Iterators

### By item

In [131]:
l = [1,2,3,4,5,6,7,8,9,10]

In [132]:
for item in l:
    print(item)

1
2
3
4
5
6
7
8
9
10

###  by index, item pair

In [134]:
for index, item in enumerate(l):
    print("index:{}- value: {}".format(index, item))

index:0- value: 1
index:1- value: 2
index:2- value: 3
index:3- value: 4
index:4- value: 5
index:5- value: 6
index:6- value: 7
index:7- value: 8
index:8- value: 9
index:9- value: 10

### by index

In [137]:
for index in range(0,10):
    print(l[index])

1
2
3
4
5
6
7
8
9
10

### Reversed iterator

In [139]:
for item in reversed(l):
    print(item)

10
9
8
7
6
5
4
3
2
1

### Iterating multiple collections with zip

In [144]:
name = ['ned', 'jon']
house = ['stark', 'targaryen']

In [145]:
for name, house in zip(name, house):
    print('{} : {}'.format(name,house))

ned : stark
jon : targaryen

In [146]:
zip(name, house)

## Copy

### Slicing
- Makes shallow copy
- memory address will be different

In [147]:
list1 = [1,2,3,4]
id(list1)

140574482819848

In [148]:
list2 = list1[1:]

In [149]:
id(list2)

140574482504904

### Constructor
- Makes shallow copy
- Memory address will be different

In [150]:
list1 = [1,2,3,4]

In [151]:
b = list(list1)

In [152]:
b

[1, 2, 3, 4]

In [154]:
id(list1)

140574482502984

In [155]:
id(b)

140574482531080

# IMPORTANT

Lists are optimized to:
- Store heterogeneous data
- Append
- Update/ Replace at a specific location
- Pop recent item
- Traverse

Lists are NOT optimiezed to:
- Insert at a specific location
- Pop from an arbitrary location
- Check membership() in operator
- Sort
- Copy