# Tuple
- Immutable sequence of objects
- Has heterogeneous and non unique objects

In [1]:
a = ()

In [4]:
a

()

In [2]:
b = tuple()

In [5]:
b

()

In [3]:
c = (1,2.3, 'hello')

In [6]:
c

(1, 2.3, 'hello')

## Tuples are immutable

In [7]:
c[0] = 1

TypeError: 'tuple' object does not support item assignment

## Named tuples
- use names instead of numeric indices to access items

In [8]:
from collections import namedtuple

In [9]:
Pet = namedtuple('Pet', 'kind name age')

In [10]:
a = Pet(kind = 'dog', name = 'shiro', age = 5)

In [11]:
a

Pet(kind='dog', name='shiro', age=5)

In [12]:
a.age

5

## Operations

In [16]:
a = (1,2,3,4,5,6,7,8,9,10)
b = (11,12)

In [14]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
len(a)

10

In [17]:
a + b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [18]:
8 in a

True

In [19]:
11 in a

False

In [26]:
z = ('a',) * 3
z

('a', 'a', 'a')

## Can contain mutable objects

In [27]:
nums = ([1,2,3,4],[1.1,1.2,1.3])
nums

([1, 2, 3, 4], [1.1, 1.2, 1.3])

In [28]:
a = ((1,2),(3,4))

In [29]:
a

((1, 2), (3, 4))

In [31]:
x = ('a',)

In [32]:
x

('a',)